/* DOCUMENTO CSS */ 

body { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-family: 'Calibri', sans-serif; 
	background-color: #D9ADAD; 
	color: #000000; 
}
header { 
	background-color: #BF8888; 
	height: 205px; 
	padding-top: 5px; 
	display: flex; 
	flex-direction: column;
	text-align: center; 
}

header img {  
	width: 185px;
	height: 185px; 
	background-color: #BF8888; 
	padding: 0; 
	justify-content: center;
	text-align: center;

} 


main { 

	min-height: 900px; 
	margin: 0; 
	padding: 0; 
	display: flex; 
	justify-content: center; 
	padding: 20px; 
	flex-wrap: wrap; 
	background-color: #cococo; 
}
.boxlivro {
	width: 450px; 
	height: 250px; 
	background-color: #fff; 
	border-radius: 10px; 
	padding: 10px; 
	margin: 10px 10px 10px 25px; 
	display: flex; 
	font-family: Century Gothic;
}

.boxlivro:hover { 
	box-shadow: 8px 8px 10px #BF8888;
}

.boxlivro h2 {margin:10 0 10px 0; 
	padding: 0; 
}

.boxlivro figure {
	width: 200px; 
	height: 200px; 
	background-color: #fff; 
	margin: 15px 5px 5px 10px;
	padding: 0; 
	border: 1px;
}

.boxlivro p {
} 

.boxlivro span { 

	font-size: 30px; 
	font-weight: 900; 
	margin: 0 0 0 40px; 
	padding: 0; 

} 


button {
   background-color:#BF3952;
   color: black;
   border-radius: #F2C4B3;
   width: 200px;
   height:28px ;
   border-radius:6px;
   align-content: center;
}

button: hover {
	box-shadow: 5px 5px 5px #BF8888;
}

.footer-distributed {
  background-color: #BF8888;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #fff;
  font-size: 17px;
  margin: 0;
  font-family: 'Calibri', sans-serif;;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #BF3952;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}